<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="org.ListenersTest.ListenersTest"></listener>
</listeners>
  <test thread-count="5" name="MobileEcommerceTesting">
    <classes>
      <class name="org.MobileFrameworkTest.MobileEcommerceTest"/>
    </classes>
  </test>
    <test thread-count="5" name="AddToCartTesting">
    <classes>
      <class name="org.MobileFrameworkTest.AddToCartTest"/>
    </classes>
  </test>
    <test thread-count="5" name="HybridAppTesting">
    <classes>
      <class name="org.MobileFrameworkTest.HybridApptest"/>
    </classes>
  </test>
</suite>